/* ---------------------DESKTOP (Default)---------------------- */

.desktop-nav{
    display: flex;
  }
  .mobile-nav{
    display: none;
  }
  
  .App {
    text-align: center;
    background-color: black;
  }
  
  /* Hide Bootstrap's default dropdown arrow */
  .navbar-item .dropdown-toggle::after {
    display: none !important;
  }
  
  /* Style the custom dropdown title */
  .custom-dropdown-title {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Adjust font size */
    color: white;
    transition: color 0.3s ease;
    font-family: 'Helvetica', sans-serif;
  }
  
  /* Custom thin arrow */
  .custom-dropdown-icon {
    font-size: 1rem; /* Adjust arrow size */
    margin-left: 5px; /* Space between text and arrow */
    transform: rotate(90deg); /* Initially point arrow to the right */
    transition: transform 0.1s ease; /* Smooth transition for flip */
    display: inline-block;
  }
  
  .career-image{
    width: 60vw;
    background-position: center;
    margin-top: 0.5vh;
    margin-bottom: 3vh;
  }
  
  .career-button{
    font-size: 1vw;
    padding: 0.2vh 1vw;
  }
  
  .catch-phrase{
    color: white;
    font-size: 7vh;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }

  .catch-phrase2{
    color: white;
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
  
  .underline{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
    text-align: right;
  }
  
  .background{
    background-color: black;
  }
  
  .navbar-item{
    display: flex;
    align-items: center;
    margin-right: 3vw;
    font-size: 18px;
    color: white;
  }
  
  .product-card{
    margin-top: 7vh;
    margin-bottom: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
  }
  
  .product-image{
    width: 3vw;
    height: 3vw;
    background-position: left;
    margin-right: 1vw;
    margin-bottom: 2vh;
  }
  
  .product-text-title{
    font-size: 2.5vh;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }
  
  .product-text{
    text-align: left;
    font-size: 1.5vh;
    width: 18vw;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    font-family: 'Helvetica', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .update-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  
  .use-case{
    /* display: flex;
    flex-direction: row; */
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .use-case-image{
    width: 18vw;
    height: 10vw;
    display: block; /* Ensures image is treated as a block element */
    margin-left: auto; /* Automatically adds left margin to center */
    margin-right: auto; /* Automatically adds right margin to center */
  }
  
  .use-case-text-title{
    text-align: center;
    color: white;
    font-size: 1.8vh;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1vh;
  }
  
  .use-case-text{
    text-align: left;
    width: 18vw;
    color: white;
    font-size: 1.5vh;
    font-family: 'Helvetica', sans-serif;
    display: block; /* Ensures image is treated as a block element */
    margin-left: auto; /* Automatically adds left margin to center */
    margin-right: auto; /* Automatically adds right margin to center */
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
  
  .left-text {
    text-align: left;
    order: 1; 
    font-size: 3.3vh; 
    padding-left: 20%;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 50vw;
  }
  
  .right-text {
    order: 2; 
    font-size: 1.5vh; 
    padding-right: 20%;
    font-weight: bold; 
    color: white;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    width: 70vw;
  }
  
  .product-center-text{
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3vh;
  }

  .separator{
    border-color: white;
    border-width: 1.5px;
    width: 80vw;
    margin: 10px auto;
  }
  
  .thick-separator{
    border-color: white;
    border-width: 3px;
  }
  
  .box{
    display: flex;
    flex-direction: column;
  }
  
  .black-text{
    color: black;
  }
  
  .footer{
    color: white;
    font-size: 10vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-container{
    margin-bottom: 10vh;
    margin-top: 5vh;
    width: 100%;
  }

  .footer-title{
    font-size: 0.7vw;
    margin-bottom: 0.9vh;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: 4vw;
  }
  
  .footer-font{
    font-size: 0.65vw;
    margin-top: 0.2vh;
    cursor: pointer;
    margin-bottom: 1vh;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    margin-left: 4vw;
  }
  
  .footer-left{
    color: white;
    text-align: left;
    font-size: 0.6vw;
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
  }
  
  .footer-right{
    color: white;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 0.6vw;
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
  }

  .social-media{
    width: 1vw;
    height: 1vw;
  }
  
  .social-icons{
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-left: 4vw;
  }
  
  #collapsible-nav-dropdown{
    color: white;
  }
  
  .padded-button{
    padding-left: 200px;
    padding-right: 200px;
  }
  
  .career-left-text{
    text-align: left;
    order: 1; 
    font-size: 20px; 
    padding-left: 20%;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  .body{
    background-color: white;
  }
  
  p{
    color: white;
    font-size: 1.8vh;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  p2{
    color: white;
    font-size: 80%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 10%
  }
  
  .career-join{
    color: white;
    font-size: 2vw;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  .account{
    align-items: 'center';
  }
  
  .video-container {
    width: 60vw; 
    background-position: center;
  }
  
  .eye{
    width: 18vw; 
    height: 18vw; 
    background-position: center;
  }
  
  .strengths-card{
    margin-bottom: 3vh;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 23vw;
    margin-left: auto;
    margin-right: 0;
  }
  
  .strength-title{
    font-size: 2.3vh;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: 'left';
  }
  
  .strength-text{
    font-size: 1.7vh;
    color: black;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;
  }
  
  .strength-image {
    width: 3vw;
    height: 3vw;
    background-position: left;
    margin-right: 1vw;
    margin-bottom: 2vh;
  }
  
  .right-small-text{
    text-align: right;
  }