/* ---------------------DESKTOP (Default)---------------------- */

.desktop-nav{
  display: flex;
}
.mobile-nav{
  display: none;
}

.App {
  text-align: center;
  background-color: black;
}

.career-image{
  width: 60vw;
  background-position: center;
  margin-top: 0.5vh;
  margin-bottom: 3vh;
}

.career-button{
  font-size: 1vw;
  padding: 0.2vh 1vw;
}

.catch-phrase{
  color: white;
  font-size: 7vh;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.underline{
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 1px;
  text-align: right;
}

.background{
  background-color: black;
}

.navbar-item{
  display: flex;
  align-items: center;
  margin-right: 3vw;
  font-size: 18px;
  color: white;
}

.update-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10vw;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.left-text {
  text-align: left;
  order: 1; 
  font-size: 3.3vh; 
  padding-left: 20%;
  font-weight: bold;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 50vw;
}

.right-text {
  order: 2; 
  font-size: 1.5vh; 
  padding-right: 20%;
  font-weight: bold; 
  color: white;
  text-align: right;
  font-family: 'Poppins', sans-serif;
  width: 70vw;
}

.center-text{
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.separator{
  border-color: white;
  border-width: 1.5px;
  width: 80vw;
  margin: 10px auto;
}

.thick-separator{
  border-color: white;
  border-width: 3px;
}

.box{
  display: flex;
  flex-direction: column;
}

.black-text{
  color: black;
}

.footer{
  color: white;
  font-size: 10vw;
}

.footer-container{
  margin-bottom: 10vh;
  margin-top: 5vh;
  width: 60vw;
}

.footer-font{
  margin-top: 0.2vh;
  cursor: pointer;
  font-size: 0.6vw;
}

.footer-left{
  color: white;
  text-align: left;
  font-size: 0.6vw;
}

.footer-right{
  color: white;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 0.6vw;
}

#collapsible-nav-dropdown{
  color: white;
}

.padded-button{
  padding-left: 200px;
  padding-right: 200px;
}

.career-left-text{
  text-align: left;
  order: 1; 
  font-size: 20px; 
  padding-left: 20%;
  font-weight: bold;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.body{
  background-color: white;
}

p{
  color: white;
  font-size: 1.8vh;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

p2{
  color: white;
  font-size: 80%;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  padding-top: 10%
}

.career-join{
  font-size: 1.7vw;
}

.account{
  align-items: 'center';
}

.video-container {
  width: 60vw; 
  background-position: center;
}

.eye{
  width: 18vw; 
  height: 18vw; 
  background-position: center;
}

/* ---------------------LAPTOP (up to 1366px)---------------------- */

@media (max-width: 1366px) {
  .video-container {
    width: 70vw;
  }



}

/* ---------------------TABLET (up to 1024px)---------------------- */

@media (max-width: 1024px) {
  .video-container {
    width: 80vw;
  }

  .desktop-nav{
    display: none;
  }

  .mobile-nav{
    display: flex;
  }

  .footer-font{
    margin-top: 0.2vh;
    cursor: pointer;
    font-size: 1.7vw;
  }
}

/* ---------------------MOBILE (up to 768px)---------------------- */

@media (max-width: 768px) {
  .video-container {
    width: 90vw;
  }

  .career-left-text{
    text-align: left;
    order: 1; 
    font-size: 20px; 
    padding-left: 5%;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  .update-container{
    flex-direction: column;
    align-items: flex-start;
  }

  .underline{
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
    text-align: left;
    margin-top: 2vh;
  }

  .left-text {
    text-align: left;
    order: 1; 
    font-size: 5vh; 
    padding-left: 5%;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 80vw;
  }
  
  .right-text {
    order: 2; 
    font-size: 2vh;
    padding-left: 5%; 
    padding-right: 5%;
    font-weight: bold; 
    color: white;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }

  .center-text{
    font-size: 2vh;
    font-weight: bold;
    text-align: left;
    padding-left: 5%;
    color: white;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }

  .eye{
    width: 30vw; 
    height: 30vw; 
    background-position: center;
  }

  .footer{
    color: white;
    font-size: 10vw;
    margin-top: 0.2vh;
    cursor: pointer;
    font-size: 3vw;
  }

  .footer-container{
    margin-bottom: 10vh;
    margin-top: 5vh;
    width: 95vw;
  }

  .footer-font{
    margin-top: 0.2vh;
    cursor: pointer;
    font-size: 2.5vw;
  }
  
  .footer-left{
    color: white;
    text-align: left;
    font-size: 1vh;
  }

  .footer-left div{
    display: block;
  }

  .footer-left div{
    content: "\A All Rights Reserved";
    white-space: pre;
    font-size: 2.5vw;
  }

  .footer-right{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    font-size: 2.5vw;
  }

  .career-join{
    font-size: 4.3vw;
    display: block;
    width: 90vw;
    /* text-align: right; */
  }

  .responsive-container{
    padding-left: 5%;
    padding-right: 5%;
  }

  .career-image{
    width: 90vw;
    background-position: center;
    margin-top: 0.5vh;
    margin-bottom: 3vh;
  }

  .career-button{
    font-size: 4vw;
    padding: 0.2vh 1vw;
  }

  .catch-phrase{
    color: white;
    font-size: 7vh;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
  }

}